<div class="row">
  <div class="col-md-3"><%= render "new" %></div>
  <div class="col-md-5">   
    <h1>Совместный редактор кода</h1>
    <a href="/codeedit" class="btn btn-primary">Перейти к редактированию и просмотру кода</a>
    <h1>Сохраненные сниппеты</h1>    
    <table class="table table-striped">
      <tr>
        <th>Открыть </th>
        <th>Название </th>
        <th>Автор </th>
        <th>Создан</th>
      </tr>
     
      <% @snippets.each do |snippet| %>
        <tr>
          <td><%= link_to snippet.id, snippet_path(snippet), :class => "btn btn-primary" %></td>
          <td><%= snippet.title %></td>
          <td><%= snippet.author %></td>
          <td><%= snippet.updated_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-4">
    <h1>Полезные ссылки</h1>
    <%= @links.map{|link| link_to link.title, link.link, :class => "btn btn-primary"}.join(' ').html_safe %>
    <!-- <a href="http://vk.com/programming_club_istra" class='btn btn-primary'>Группа ВКонтакте</a> -->
    <!-- <a href="https://github.com/Kulikovpavel/Programming-club" class='btn btn-primary'>Примеры использования</a> -->
  </div>
</div>




