<div class="row">
  	<p><%= link_to "На главную страницу", snippets_path, :class => "btn btn-primary" %></p>
	<p>
	  <strong>ID:</strong>
	  <%= @snippet.id %>
	</p>

	<p>
	  <strong>Название:</strong>
	  <%= @snippet.title %>
	</p>

	<p>
	  <strong>Автор:</strong>
	  <%= @snippet.author %>
	</p>
	 
	<p>
	  <strong>Код:</strong>
	  <pre class="prettyprint linenums">
<%= @snippet.text %>
	  </pre>
	</p>

	<p class='text-right'>
	  <%= link_to "Удалить", snippet_path(@snippet), method: :delete, :class => "btn btn-warning btn-xs" %>
	</p>

</div>
